include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang='#{config.language}')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(name='description', content=config.description)
    if config.keywords
      meta(name="keywords",content=config.keywords)
    block title
    link(rel="stylesheet", type="text/css", href="//fonts.neworld.org/css?family=Source+Code+Pro")
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css' + '?v=' + theme.version)
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/highlight.css' + '?v=' + theme.version)
    link(rel='Shortcut Icon', href=url_for('favicon.ico'))
    link(rel="bookmark", href=url_for('favicon.ico'))
    link(rel='apple-touch-icon', href=url_for('apple-touch-icon.png'))
    link(rel='apple-touch-icon-precomposed', href=url_for('apple-touch-icon.png'))
    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))

  body
    .body_container
      #header
        .site-name
          h1.hidden= current_title
          a#logo(href=url_for('.'))= config.title
          p.description= config.subtitle
        #nav-menu
          - for (var i in theme.menu)
            +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
        include _partial/search

      #layout.layout-g
        .layout-l: .content_container
          block content
        if theme.widgets_on_small_screens
          .layout-r: #sidebar
            if theme.local_search == true
              .search-pla
              block tocmodel
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
        else
          .layout-r.hidden_mid_and_down: #sidebar
            each item in theme.widgets
              != partial('_widget/' + item + '.jade')
      a#totop(href='#top')
      include _partial/footer
    include _partial/after_footer
    block pageOnly
