extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  if config.subtitle
    title= config.title + ' | ' + config.subtitle
  else
    title= config.title
block content

  for post in page.posts.toArray()
    .post
      h2.post-title
        include _partial/helpers
        a(href=url_for(post.path))
          +title(post)
      .post-meta
        span.date= post.date.format(config.date_format)
        if post.categories.length > 0
          span.category
            for category in post.categories.toArray()
              a(href=url_for(category.path))= category.name
        if theme.comment
          include _partial/comment_count
          +comment-count(post.path)
      if post.description
        .post-content
          != post.description
      else if post.excerpt
        .post-content
          != post.excerpt
      else if post.content
        - var br = post.content.indexOf('\n')
        if br < 0
          .post-content
            != post.content
        else
          .post-content
            != post.content.substring(0, br)
      p(class='readmore')
        a(href=url_for(post.path))= __('Readmore')

  include _partial/paginator
  
block pageOnly
  script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)
