extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-content
      .author-page
        a.photo(href="javascript:;")
          img(src='#{theme.about.photo_url}')
        .author
          p
            i.fa.fa-user name：
            | #{config.author}
          each item in theme.about.items
            p
              i(class="fa fa-" + item.label) #{item.label}：
              a(href=item.url,target="_blank")= item.title
      != page.content
    if theme.comment && page.comments
      #comments
        include _partial/comments
block pageOnly
  script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)
  if theme.comment
    include _partial/comments_js
