extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-meta
      if theme.comment
        include _partial/comment_count
        +comment-count(page.path)
      p
        span.date= page.date.format(theme.date_formats.post)
        if page.categories.length > 0
          span
            for category in page.categories.toArray()
              a.category(href=url_for(category.path))= category.name 
        if theme.busuanzi == true
          span
            i#busuanzi_container_page_pv
              i#busuanzi_value_page_pv
              i= '' + __('hits')
    .post-content
      != page.content
    include _partial/tag
    .post-share
      include _partial/share
    include _partial/post_nav
    #comments
      include _partial/comments

block tocmodel
  if theme.toc.enable == true 
    .widget(id='toc')
      .widget-title
        i(class='fa fa-fei')= __('contents')
      != toc(page.content, {list_number: theme.toc.number})

block pageOnly
  if theme.toc.enable == true 
    script(type='text/javascript', src=url_for(theme.js) + '/toctotop.js' + '?v=' + theme.version, async)
  else 
    script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)
  include _partial/comments_js