extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-meta= page.date.format('ll')
      if page.categories.length > 0
        span= ' | '
        span.category
          for category in page.categories.toArray()
            a(href=url_for(category.path))= category.name
      if theme.busuanzi == true
        script(src='https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js', async)
        span#busuanzi_container_page_pv= ' | '
          span#busuanzi_value_page_pv
          span= ' ' + __('Hits')
    if theme.duoshuo
      a.ds-thread-count(data-thread-key=page.path, href=url_for(page.path) + '#comments')
    if theme.disqus
      a.disqus-comment-count(data-disqus-identifier=page.path, href=url_for(page.path) + '#disqus_thread')
    if page.toc
      div(class='clear')
        div(id='toc' class='toc-article')
          div(class='toc-title')= __('contents')
          != toc(page.content)
    .post-content
      != page.content
    include _partial/tag
    include _partial/post_nav
    if theme.duoshuo
      div(class='ds-share flat' data-thread-key=page.path, data-title=page.title, data-url=page.permalink)
         .ds-share-inline
            ul.ds-share-icons-16
              li(data-toggle='ds-share-icons-more')
                a(href='javascript:void(0);').ds-more= __('shareto')
                  | :
              li
                a(href='javascript:void(0);' data-service='weibo').ds-weibo 微博
              li
                a(href='javascript:void(0);' data-service='qzone').ds-qzone QQ空间
              li
                a(href='javascript:void(0);' data-service='qqt').ds-qqt 腾讯微博
              li
                a(href='javascript:void(0);' data-service='wechat').ds-wechat 微信
            .ds-share-icons-more
    include _partial/comments