<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <% if (post.top){ %>
        <span class='article-top'>【<%- __('topped') %>】</span>
      <% } %>
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
      <% if (post.comments){ %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
          <% if (!index){ %>
            <% if (theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
              <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path) %>" itemprop="commentCount"></span>
            <% } %>
            <% if (theme.comment.disqus){ %>
              <i class="disqus-comment-count" data-disqus-identifier="<%- url_for(post.path) %>"></i>
            <% } %>
            <% if (theme.comment.uyan){ %>
              <a href="<%- url_for(post.path) %>" id="uyan_count_unit"></a>
            <% } %>
            <% if (theme.comment.cloudTie){ %>
              <i class="cloud-tie-join-count">
                <i class="join-count"></i>
              </i>
            <% } %>
            <% if (theme.comment.changyan && theme.comment.changyan.appid && theme.comment.changyan.appkey){ %>
              <i id="changyan_count_unit" data-xid="<%- url_for(post.path) %>"></i>
              <!-- <i id="changyan_parti_unit" data-xid="<%- url_for(post.path) %>"></i> -->
            <% } %>
          <% } %>
          <i class="fa fa-commt"></i>
          <%= __('guestbook') %>
        </a>
      <% } %>
    </div>
    <div class="e-content article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (post.excerpt && index && theme.excerpt_link){ %>
        <%- partial('post/tag') %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } else { %>
        <div class="article-tag-wrap">
          <%- partial('post/tag') %>
          
          <% if (theme.share.local_share){ %>
            <div class="social-share">
              <span><%= __('shareto') %>:</span>
            </div>
          <% } %>
          
          <% if (theme.share.baidu_share){ %>
            <div class="bdsharebuttonbox">
              <span style="float:left;line-height: 28px;height: 28px;font-size:16px;font-weight:blod"><%= __('shareto') %>:</span>
              <a href="#" class="bds_more" data-cmd="more"></a>
              <a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
              <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
              <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
              <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
              <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
              <a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a>
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            </div>
          <% } %>
          
        </div>
      <% } %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<% if (!index && post.comments){ %>
  <%- partial('post/comments') %>
<% } %>
