if theme.comment.duoshuo
  .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')

if theme.comment.disqus
  #disqus_thread

if theme.comment.livere
  #lv-container(data-id="city",data-uid=theme.comment.livere)

if theme.comment.uyan
  #uyan_frame

if theme.comment.cloudTie
  #cloud-tie-wrapper.cloud-tie-wrapper

if theme.comment.changyan.appid && theme.comment.changyan.appkey
  #SOHUCS(sid=page.path)

if theme.comment.gitalk.enable
   #container
    script(type='text/javascript' src='https://unpkg.com/gitalk/dist/gitalk.min.js?v=' +  theme.version)
    script(type='text/javascript' src='//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js?v=' + theme.version)

    script.
      var gitalk = new Gitalk({
        clientID: '#{theme.comment.gitalk.client_id}',
        clientSecret: '#{theme.comment.gitalk.client_secret}',
        repo: '#{theme.comment.gitalk.repo}',
        owner: '#{theme.comment.gitalk.owner}',
        admin: ['#{theme.comment.gitalk.admin}'],
        id: md5(window.location.pathname),
        distractionFreeMode: false,
        language: '#{theme.comment.gitalk.language}',
        pagerDirection: '#{theme.comment.gitalk.pagerDirection}'
      })
      gitalk.render('container')

      
